[Unit]
Description=Neon EVM Proxy
After=docker.service
Requires=docker.service
 
[Service]
User=neonevm
Group=neonevm
PermissionsStartOnly=true
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop neonevm
ExecStartPre=-/usr/bin/docker rm neonevm
ExecStartPre=/usr/bin/docker pull neonlabsorg/proxy:{{ neonevm_version }}
ExecStart=/usr/local/bin/neonevm

SyslogIdentifier=neonevm
KillMode=process
Restart=always
RestartSec=5

LimitNOFILE=50000
LimitNPROC=50000

LockPersonality=true
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true

ProtectSystem=full

WorkingDirectory={{ neonevm_config_dir }}

[Install]
WantedBy=multi-user.target
