[Unit]
Description=PostgresDB
After=docker.service
Requires=docker.service
 
[Service]
User=neonevm
Group=neonevm
PermissionsStartOnly=true
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop postgres
ExecStartPre=-/usr/bin/docker rm postgres
ExecStartPre=/usr/bin/docker pull postgres:14.0
ExecStart=/usr/local/bin/postgres

SyslogIdentifier=postgres
KillMode=process
Restart=always
RestartSec=5

LimitNOFILE=50000
LimitNPROC=50000

LockPersonality=true
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true

ProtectSystem=full

WorkingDirectory={{ postgres_config_dir }}

[Install]
WantedBy=multi-user.target
