#!/bin/bash

set -x

docker run --rm --network=host \
-e POSTGRES_DB=neon-db \
-e POSTGRES_USER=neonevm \
-e POSTGRES_PASSWORD=123 \
-e POSTGRES_DB={{ postgres_db }} \
-e POSTGRES_USER={{ postgres_user }} \
-e POSTGRES_PASSWORD={{ postgres_password }} \
--name=postgres \
postgres:14.0